.mat-card {
  margin: 1rem;
  height: 90%;
  width: 90%;
}

.wrapper {
  height: 92%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  flex-direction: row;
}


.data .title {
  min-width: 8rem;
  min-height: 2rem;
}

.edit {
  margin-left: auto;
}

.card-header {
  margin-bottom: 2rem;
}
