<div class="container">
  <div class="wrapper">
    <mat-grid-list cols="4"  rowHeight="24%">
      <mat-grid-tile
          [colspan]="2"
          [rowspan]="3">
        <img src="../../assets/angular.svg" alt="">
      </mat-grid-tile>
      <mat-grid-tile
          [colspan]="2"
          [rowspan]="3">
        <div class="title">Routing and Navigation, Forms</div>
      </mat-grid-tile>
      <mat-grid-tile
          [colspan]="4"
          [rowspan]="1">
        <div class="developer">
          <div class="made-by">Made by:</div>
          <div class="name">Petar Nacevski</div>
          <a href="mailto:pna@mca.dev" class="mail">pna@mca.dev</a>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
